

.parallax {
    /* The image used */
    background-image: url(https://64.media.tumblr.com/fb9ffe2bf29b5e583f252087bcc876a5/tumblr_pcvyyvdR9n1qeyvpto1_r1_500.gifv);
    /* Full height */
    min-height: 800px;
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* .secondParallax {
    background-image: url(./trip.gif);
    margin-top: -55%;
    background-position: top !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    opacity: 90%;
   height: 100%;
  } */

  /* .thirdParallax {
    background-image: url(./.gif);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover !important;
     opacity: 100%;
    height: 170%;
  } */

  