body, html {
  height: 100%;
  background-image: url(https://64.media.tumblr.com/fb9ffe2bf29b5e583f252087bcc876a5/tumblr_pcvyyvdR9n1qeyvpto1_r1_500.gifv);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;

}

