
.c {
    position: absolute;
    left: 55%;
    top: 160px;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    max-width: 500px;
    max-height: 500px;
    width: 25rem;
    height: 20rem;
    cursor: pointer;
    will-change: transform, opacity;
  }

  .front,
  .back {
    background-size: cover;
  }

  .front {
    background-image: url("./biography.png");
    background-size: cover ;
    background-repeat: no-repeat;
  }

  .back {
    background-image: url("./bio.jpeg");
  }
