.typewriter {
color: #fff;
overflow: hidden;
border-right: .15em solid #fff;
white-space: nowrap;
margin: 0 auto;
letter-spacing: .15em;
text-decoration: none;
font-size: 2rem;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
max-width: 80%;
animation: 
typing 1.5s steps(40, end),
blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: #fff; }
}

  
  /*  For devices with width of 480px and less, like phones */
  @media only screen and (max-width: 480px) {
    .typewriter {
        font-size: 1.4rem;
   }
  } 
  
  /* For devices with width between 481px and 768px, like larger phones and portrait tablets */
  @media only screen and (min-width: 481px) {
    .typewriter {
        font-size: 1.6rem;
   }
  }  
  
  /* For devices with width between 769px and 1279px, like landscape tablets and laptops */
  @media only screen and (min-width: 769px) {
    .typewriter {
        font-size: 2.2rem;
   }
  }  
  
  /* For devices with width of 1280px and more, like desktop computers */
  @media only screen and (min-width: 1280px) {
    .typewriter {
        font-size: 2.8rem;
   }
  }

