.netflixCard {
    width: 55ch;
    height: 55ch;
    background:whitesmoke;
    border-radius: 5px;
    margin: 50px;
    background-image: url("./netflix.jpeg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.5s;
    will-change: transform;

  }
  
  .netflixCard:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }

  .links {
    background-color: ivory;
    border-radius: 5px;;
    opacity: 80%;
    width: 35%;
    margin-left: 30%;
    margin-top: -5%;
  }

  a {
  margin-left: 15%;;
  }

  .liveLink{
    padding-bottom: 2%;
  }

     /*  For devices with width of 480px and less, like phones */
     @media only screen and (max-width: 480px) {
      .cardDiv{
     width: 35ch;
    } 
  }
    /* For devices with width between 481px and 768px, like larger phones and portrait tablets */
    @media only screen and (min-width: 481px) {
      .stackParallax {
        width: 15rem;
        height: 10rem;
     }
    }  
    
    /* For devices with width between 769px and 1279px, like landscape tablets and laptops */
    @media only screen and (min-width: 769px) {
      .stackParallax {
        width: 20rem;
        height: 15rem;
     }
    }  
    
    /* For devices with width of 1280px and more, like desktop computers */
    @media only screen and (min-width: 1280px) {
      .stackParallax {
        width: 25rem;
        height: 20rem;
     }
    }