.netflixCard {
    width: 55ch;
    height: 55ch;
    background:black;
    border-radius: 5px;
    margin: 50px;
    background-image: url("./netflix.jpeg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.5s;
    will-change: transform;

  }
  
  .netflixCard:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }