
    .footer {
        bottom: 0 !important;
        height: 16% !important; 
        width: 100%;
        background-color: rgb(56, 118, 160) !important;
        position: absolute !important;
        /* justify-content: space-evenly; */
        padding-top: -16% !important;
      
    }

    .footerLinks {
      display: flex;
    
    }

    a {
        margin-left: 0;
        margin-right: 10px;
       
    }

/* 
 .menulinks {
    color: black;
    text-decoration-line: none;
 } */
  
 .copyright {
     display: inline !important;
     padding-top: 1%;
 margin-left: 60%;
 margin-right: 5% !important;
 font-size: 1.6rem !important;
 font-family: 'Montserrat', sans-serif;
 font-weight: lighter !important;

 }

